mark {
    background-color: red !important;
    color: white !important;
    padding: 3px !important;
    font-weight: bold !important;
}

mark:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3) !important;
}

.ns-box a {
    color: rgba(250, 251, 255, 0.952941) !important;
    font-size: inherit !important;
    z-index: 2147483646 !important;
}

.ns-box .ns-box-inner {
    font-size: 14px !important;
}

.ns-box p {
    line-height: 1.2 !important;
}

.ns-box .clause-info {
    color: yellow !important;
}

.ns-box .white-list {
    font-size: 14px !important;
    float: right;
    cursor: pointer;
}

#demo-container {
}

.demo-btn-1 {
    border: 3px solid #fff;
    color: #fff;
}

.demo-btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 5px 10px;
    display: inline-block;
    margin: 0px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.demo-btn:before, .icon-heart:after, .icon-star:after, .icon-plus:after, .icon-file:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.demo-btn:after {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: #fff;
}

.demo-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.ui.list .item {
    display: inline-block !important;
}

.ui.inverted.popup, .ui.inverted.popup:after, .ui.inverted.popup:before {
    background: rgba(158, 58, 56, 0.901961) !important;
    font-size: 14px !important;
    z-index: 2147483646 !important;
}

.hidden
{
    display: none;
}