mark {
    background-color: red !important;
    color: white !important;
    padding: 3px !important;
    font-weight: bold !important;
}

mark:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3) !important;
}

.ns-box a {
    color: rgba(250, 251, 255, 0.952941) !important;
    font-size: inherit !important;
    z-index: 2147483646 !important;
}

.ns-box .ns-box-inner {
    font-size: 14px !important;
}

.ns-box p {
    line-height: 1.2 !important;
}

.ns-box .clause-info {
    color: yellow !important;
}

.ns-box .white-list {
    font-size: 14px !important;
    float: right;
    cursor: pointer;
}

#demo-container {
    padding-top: 4em;
}

.ui.list .item {
    display: inline-block !important;
}

.ui.inverted.popup, .ui.inverted.popup:after, .ui.inverted.popup:before {
    background: rgba(158, 58, 56, 0.901961) !important;
    font-size: 14px;
}

